body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #ff6b6b;
  text-align: center;
  font-size: 2.5em;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  background-color: #ffdde1;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li:hover {
  background-color: #ffe4e8;
}
ol {
  list-style-position: inside;

  counter-reset: list-counter;
}

input[type="text"] {
  font-size: 1em;
  padding: 5px;
  margin-right: 10px;
  border: 2px solid #ff6b6b;
  border-radius: 5px;
}

input[type="number"] {
  width: 60px;
  font-size: 1em;
  padding: 5px;
  margin-right: 10px;
  border: 2px solid #ff6b6b;
  border-radius: 5px;
}

button {
  background-color: #e29696;
  color: black;
  border-radius: 5px;
  border-color: #ff6b6b;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #ff8b8b;
}

.checkbox {
  margin-right: 10px;
}
